<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.new_game') }}">Play</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.dashboard', username=current_user.username) }}">Dashboard</a>
          </li>
          <li>
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <span class="navbar-text" style="text-align: right;">
      </span>
    </nav>
    {% block content %}{% endblock %}
    <div class="footer" style="text-align: center;">
      <p>This application was built using Flask.</p>
    </div>
  </body>
  {% block scripts %}
  <script src="/static/jquery-3.4.1.min.js" charset="utf-8"></script>
  <script src="/static/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="/static/main.js" charset="utf-8"></script>
  {% endblock %}
</html>
