/* Main CSS file */
.center {
  display: block;
  text-align: center;
}

h1, h2, h3, h4 {
  text-align: center;
}

th {
  text-align: center;
}

.vspace {
  margin-top: 25px;
}

.spaced {
  letter-spacing: 15px;
  margin: auto;
  align-items: center;
}

#letter-guessing {
  display: block;
  text-align: center;
}

#letter-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}


/* Drawing */
.svg {
  display: block;
  margin: auto;
  background-color: #f1e8dc
}


#drawing {
  fill: none;
  text-align: center;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
}

#hangman-drawing > * {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
