{% extends "base.html" %}
{% block title %}
  Dashboard for {{ user.username }}
{% endblock %}
{% block content %}


  <div class="panel panel-default vspace">
      <h1 class="center">Statistics for {{ user.username }}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Word</th>
            <th>Errors</th>
        <tbody>
          {% for game in games %}
            <tr>
              <td>{{ loop.index }}</td>
              <td class="text-success">{{ game.current }}</td>
              <td class="text-danger spaced">{{ game.errors }}</td>
          {% endfor %}
      </table>
    </div>
{% endblock %}
