{% extends "base.html" %}
{% block title %}
Home - Hangman
{% endblock %}

{% block content %}
<h1 class="welcome">Welcome to Hangman</h1>
<div class="center">
  <ol class="faq center">
    <li>
      What is Hangman?
    </li>
    <p>Hangman is a word-guessing game.</p>
    <li>
      What are the rules of Hangman?
    </li>
    <p>
      Glad you asked! The rules are simple: you guess a letter, and hope it's
      in the word. If it is, great! Guess again. If it isn't? The number of
      errors racks up by one. Reach ten errors, and you hang.
    </p>
    <li>
      Is there a reason for being a user?
    </li>
    <p>
      Currently, this application doesn't count wins and losses for non-users.
      Becoming a user will allow you to keep track of match history, which also
      keeps track of your wins and losses.
    </p>
  </ol>
</div>

{% endblock %}
